/* Especificidad = 001 */
body {
      font: 15px Optima, sans-serif; /*Familia sans-serif*/
      font-weight: 500;
      line-height: 1.8;
      color: black;
      background-color:white;
      text-align: justify;
      
  }

/* Especificidad = 001 */  
h1 {
      margin: 10px 40px 10px;
      background-color:#897cad; 
      color: black;
      text-transform: uppercase;
      padding:25px 50px 25px;
      text-align: center;     
  }

  /* Especificidad = 001 */
h2 {
  background-color:#897cad; 
  color: black;
  text-transform: uppercase;
  padding:10px 40px 10px;
  text-align: center;     
}

  /* Especificidad = 001 */
a{
  font: 17px Optima, sans-serif;
  color:  white;
  background-color: black;
  
}

  /* Especificidad = 001 */
section {
  margin: 10px 40px 10px;
  color: black;
  background-color: white;
  border: 5px solid  rgb(255, 0, 0);
  column-rule: 5px solid red;
}

/* Especificidad = 001 */
footer {
  margin: 10px 40px 10px;
  color: rgb(0, 7, 6);
  background-color: rgb(81, 209, 166);
  font: 17px Optima, sans-serif;
}

/* Especificidad = 001 */
div {
  margin: 10px 40px 10px;
}

/* Especificidad = 001 */
nav{
  color: white;
  padding: 10px;
  background-color: black;
}

/* Especificidad = 001 */
p{
  margin: 10px 40px 10px;
  font: 18px Optima, sans-serif;
}

/* Especificidad = 001 */
article{
  text-justify: initial;
  padding: 5px 50px 50px 50px;
  border: 5px solid  rgb(255, 0, 0);
}
ul {
  font: 19px Optima, sans-serif;

}



