/* Especificidad = 001 */
section {
  position: relative;
  top: 80px;
  margin-bottom: 90px;
  column-count: 2;
  column-gap: 3em;
  padding: 30px 30px 30px 30px;
  min-height: 300px;
}

/* Especificidad = 001 */
img {
  width: 100%;
  height: auto;
}

/* Especificidad = 001 */
a{
  padding: 10px;
  position: relative;
  top: 7px;
}

/* Especificidad = 001 */
main{
  position: relative;
  top:80px;
}

/* Especificidad = 001 */
h1 {
  position: relative;
  top: 65px;
}

/* Especificidad = 001 */
div {
  display: flex;
  gap: 200px;
  justify-content: center;
}

/* Especificidad = 001 */
footer{
  display: flex;
  position: relative;
  top: 10px;
  justify-content: center;
  height: 40px;
  border-style: outset ;
  
}

video {
  position: relative;
  left: 140px;
  top: 10px;
}

nav{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  
}




